.list_container {
    display: flex;
}

.list_left{
    width: 30%;
    background-color: orchid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list_left a{
   padding-top: 1rem;
}

.list_right{

}

.list_search{
    height: 8%;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list_search input{
    width: 80%;;
}

.list_content{
    height: 92%;
    background-color: olive;
}